<div class="container">

  <section class="carousel mb-5 p-4">
    <div class="single-item wow animate__backInDown">
      <div>
        <img class="w-100" src="assets/images/1.png" alt="1">
      </div>
    </div>
  </section>

  <section class="mt-5 pt-4 mb-5">
    <h2 class="h2 text-center mb-5">Ответы на часто задаваемые вопросы</h2>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mb-5">
      <ngb-panel >
        <ng-template ngbPanelTitle >
          Собираете ли вы подарочные боксы?
        </ng-template>
        <ng-template ngbPanelContent >
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          Сколько у вас разновидностей чая?
        </ng-template>
        <ng-template ngbPanelContent>
          На данный момент у нас в ассортименте 6 разновидностей чая!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          В какой срок осуществляется доставка?
        </ng-template>
        <ng-template ngbPanelContent>
          По Мос.области в течении 2-3 дней. По России в течении 2-3 недель!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          У вас обновляется ассортимент?
        </ng-template>
        <ng-template ngbPanelContent>
          Да, мы стараемся обновлять ассортимент каждый месяц!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          Какого объема у вас пачки чая?
        </ng-template>
        <ng-template ngbPanelContent>
          В одной упаковке чая 300гр.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>

  <section class="popup" id="popup" [style]="popup ? 'display: flex' : 'display: none'">
    <div class="h2">
      Посмотрите наши чайные коллекции
    </div>
    <div class="d-flex gap-3">
      <a (click)="close()" class="btn btn-danger hvr-pulse-shrink d-flex justify-content-center">Закрыть</a>
      <a routerLink="/product" class="btn btn-primary hvr-pulse-shrink d-flex justify-content-center">Смотреть</a>
    </div>
  </section>

</div>
