<div class="container">

  <section class="carousel mb-5 p-4">
    <div class="single-item wow animate__backInDown">
      <div>
        <img class="w-100" src="assets/images/1.png" alt="1">
      </div>
    </div>
  </section>

  <section class="mt-5 pt-4 mb-5">
    <h2 class="h2 text-center mb-5">Ответы на часто задаваемые вопросы</h2>
    <div class="accordion wow animate__jackInTheBox" id="accordionExample">
      <div class="accordion-item mb-3">
        <h2 class="accordion-header">
          <button class="accordion-button text-white" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Собираете ли вы подарочные боксы?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </div>
        </div>
      </div>
      <div class="accordion-item mb-3">
        <h2 class="accordion-header">
          <button class="accordion-button text-white collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Сколько у вас разновидностей чая?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            На данный момент у нас в ассортименте 6 разновидностей чая!
          </div>
        </div>
      </div>
      <div class="accordion-item mb-3">
        <h2 class="accordion-header ">
          <button class="accordion-button text-white collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            В какой срок осуществляется доставка?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            По Мос.области в течении 2-3 дней. По России в течении 2-3 недель!
          </div>
        </div>
      </div>
      <div class="accordion-item mb-3">
        <h2 class="accordion-header ">
          <button class="accordion-button text-white collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            У вас обновляется ассортимент?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Да, мы стараемся обновлять ассортимент каждый месяц!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header ">
          <button class="accordion-button text-white collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Какого объема у вас пачки чая?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            В одной упаковке чая 300гр.
          </div>
        </div>
      </div>
    </div>
  </section>


<!--  <div ngbAccordion>-->
<!--    <div ngbAccordionItem [collapsed]="false">-->
<!--      <h2 ngbAccordionHeader>-->
<!--        <button ngbAccordionButton>Simple</button>-->
<!--      </h2>-->
<!--      <div ngbAccordionCollapse>-->
<!--        <div ngbAccordionBody>-->
<!--          <ng-template>-->
<!--            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
<!--            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf-->
<!--            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim-->
<!--            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur-->
<!--            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably-->
<!--            haven't heard of them accusamus labore sustainable VHS.-->
<!--          </ng-template>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div ngbAccordionItem>-->
<!--      <h2 ngbAccordionHeader>-->
<!--        <button ngbAccordionButton>-->
<!--          <span>&#9733; <b>Fancy</b> title &#9733;</span>-->
<!--        </button>-->
<!--      </h2>-->
<!--      <div ngbAccordionCollapse>-->
<!--        <div ngbAccordionBody>-->
<!--          <ng-template>-->
<!--            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
<!--            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf-->
<!--            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim-->
<!--            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur-->
<!--            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably-->
<!--            haven't heard of them accusamus labore sustainable VHS.-->
<!--          </ng-template>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div ngbAccordionItem [disabled]="true">-->
<!--      <h2 ngbAccordionHeader>-->
<!--        <button ngbAccordionButton>Disabled</button>-->
<!--      </h2>-->
<!--      <div ngbAccordionCollapse>-->
<!--        <div ngbAccordionBody>-->
<!--          <ng-template>-->
<!--            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
<!--            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf-->
<!--            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim-->
<!--            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur-->
<!--            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably-->
<!--            haven't heard of them accusamus labore sustainable VHS.-->
<!--          </ng-template>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <section class="popup" id="popup" [style]="popup ? 'display: flex' : 'display: none'">
    <div class="h2">
      Посмотрите наши чайные коллекции
    </div>
    <div class="d-flex gap-3">
      <a (click)="close()" class="btn btn-danger hvr-pulse-shrink d-flex justify-content-center">Закрыть</a>
      <a routerLink="/product" class="btn btn-primary hvr-pulse-shrink d-flex justify-content-center">Смотреть</a>
    </div>
  </section>

</div>
